table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #bdbdbd;
}

th, td {
  padding: 5px 10px;
}

.resizer {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: #f1f1f1;
  cursor: col-resize;
}
