<div *ngFor="let task of data">
  {{ task.name }}
  {{ task.cpu }}
  {{ task.memory }}
  {{ task.disk }}
  {{ task.network }}
</div>

<!--<table>-->
<!--  <tr>-->
<!--    <th>name</th>-->
<!--    <th>cpu</th>-->
<!--    <th>memory</th>-->
<!--    <th>disk</th>-->
<!--    <th>network</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let task of data">-->
<!--    <td>{{ task.name }}</td>-->
<!--    <td>{{ task.cpu }}</td>-->
<!--    <td>{{ task.memory }}</td>-->
<!--    <td>{{ task.disk }}</td>-->
<!--    <td>{{ task.network }}</td>-->
<!--  </tr>-->
<!--</table>-->

<table style="width: 100%">
  <tr>
    <th style="width: 200px; position: relative">
      name
      <span style="width: 20px;background: gray;height: 20px; display: inline-block; position: absolute; right: 0" draggable="true" (dragstart)="onResizeStart($event)" (dragend)="onResizeEnd($event)"></span>
    </th>
    <th style="position: relative">
      cpu
      <span style="width: 20px;background: gray;height: 20px; display: inline-block; position: absolute; right: 0" draggable="true" (dragstart)="onResizeStart($event)" (dragend)="onResizeEnd($event)"></span>
    </th>
    <th style="position: relative">
      memory
    </th>
  </tr>
  <tr>
    <td>a</td>
    <td>2</td>
    <td>3</td>
  </tr>
</table>
